<!DOCTYPE html>
- title = "CSS3 playground with Sass and Compass"
%html{ :lang => "en" }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/compiled/default.css' }
    %title= title

  %body
    %h1= title

    %section#buttons
      %h1 Yummy buttons
      %div
        %input.button.orange{ :type => "submit", :value => "Button" }
        %a.button.blue Link
        %a.button.red.rounded Rounded
        %a.button.green.medium Medium
        %a.button.pink.small Small

      %div
        %input.button.dark_green{ :type => "submit", :value => "Button" }
        %a.button.violet Link
        %a.button.olive.rounded Rounded
        %a.button.dark_blue.medium Medium
        %a.button.brown.small Small

    %section#classy_menu
      %h1 Classy menu
      %ol
        %li Tea
        %li Coffee
        %li.selected Cappuccino
        %li Milkshake

    %section#cards
      %h1 Cards
      %ol
        %li
        %li
        %li

    %footer
      %p
        code by
        %a{ :href => "http://dira.ro" } dira.ro
      %p
        Inspired by the
        %a{ :href => "http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/" } CSS3 Gradient buttons tutorial
