@import "compass"
@include reset-html5

// generic
body
  width: 940px
  padding: 0 10px
  margin: 0 auto

body, input
  font: 14px/140% Arial, Helvetica, sans-serif

footer
  display: block
  margin-top: 40px
  padding: 10px 0 20px
  text-align: center
  border-top: 1px solid #ccc
  font-size: 0.8em
  color: #777
  p
    margin-left: 80px
    display: inline
    &:first-of-type
      margin-left: 0

section
  margin: 200px 0
  height: 400px

p
  margin: 1em 0

h1
  color: #555
  margin: 30px 0 40px
  font-size: 2em
  section &
    color: #777
    margin: 20px 0
    font-size: 1.5em


@import '_buttons'
#buttons
  div
    a, input
      margin: 5px 10px
  .button
    @include button
  .rounded
    @include border-radius(2em)
  .orange
    @include color(#f78d1d)
  .red
    @include color(#AA1317)
  .blue
    @include color(#0078A5)
  .green
    @include color(#4E7D0E)
  .pink
    @include color(#F171AB)
  .violet
    @include color(#93C)
  .brown
    @include color(#930)
  .dark_green
    @include color(#360)
  .olive
    @include color(#993)
  .dark_blue
    @include color(#228)

  .medium
    font-size: 12px
    padding: 0.35em 1.5em 0.4em
  .small
    font-size: 10px
    padding: 0.2em 1em 0.275em

#classy_menu
  ol
    +horizontal-list
    display: inline-block
    padding: 50px
    background-color: black
    li
      width: 150px
      height: 100px
      line-height: 170px
      padding: 0 10px
      background-color: black
      @include linear-gradient(color-stops(#000, #000 50%, #555))
      border-right: 1px solid #222
      +opacity(0.5)
      letter-spacing: 0.5px
      color: #999
      $radius = 7px
      &:first-of-type
        @include border-bottom-left-radius($radius)
        padding-left: 15px
      &:last-of-type
        @include border-bottom-right-radius($radius)
        border-right: 0
      &.selected, &:hover
        @include linear-gradient(color-stops(#000, #000 50%, #777))
        color: #fff

#cards
  ol
    +horizontal-list
    display: inline-block
    padding: 50px
    $bgrd = #E3E3E0
    background-color: $bgrd
    +opacity(0.9)
    li
      width: 200px
      height: 270px
      +border-radius(10px)
      @include box-shadow(rgba(0,0,0,.1), 1px, 1px, 2px)
      margin-right: 25px
      background-color: white
      +opacity(0.5)
      &:last-of-type
        margin-right: 0
      &:hover
        +opacity(1)
        background-color: #fff

#popup
  background-color: #777
  padding: 30px
  div
    display: inline-block
    +border-radius(15px)
  .wrapper
    +box-shadow(rgba(0,0,0,.3), 0, 1px, 2px)
    div
      width: 600px
      // XXX
      -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1) inset
      $title_height = 45
      +linear-gradient(color-stops(#DDD, #DDD #{$title_height}px, #333 #{$title_height + 1}px, #FFF #{$title_height + 1}px, #FFF))
      h1
        +border-top-radius(15px)
        margin: 0
        padding: 15px
        color: #669
      p
        margin: 0
        padding: 15px
        height: 250px
        +border-bottom-radius(15px)
