@charset "UTF-8";
/* line 108, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 5, ../../../public/stylesheets/sass/default.sass */
body {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 10, ../../../public/stylesheets/sass/default.sass */
body, input {
  font: 14px/140% Arial, Helvetica, sans-serif;
}

/* line 13, ../../../public/stylesheets/sass/default.sass */
footer {
  display: block;
  margin-top: 40px;
  padding: 10px 0 20px;
  text-align: center;
  border-top: 1px solid #cccccc;
  font-size: 0.8em;
  color: #777777;
}
/* line 21, ../../../public/stylesheets/sass/default.sass */
footer p {
  margin-left: 80px;
  display: inline;
}
/* line 24, ../../../public/stylesheets/sass/default.sass */
footer p:first-of-type {
  margin-left: 0;
}

/* line 27, ../../../public/stylesheets/sass/default.sass */
body > section {
  margin: 200px 0;
  min-height: 400px;
}

/* line 31, ../../../public/stylesheets/sass/default.sass */
p {
  margin: 1em 0;
}

/* line 55, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header hgroup {
  margin-bottom: 1px;
  padding: 0.2em 1em;
  background-color: #bf4097;
  color: white;
}
/* line 60, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header hgroup h1, #menu_3_layers header hgroup h2 {
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}
/* line 64, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header hgroup h1 {
  font-size: 1.5em;
  color: black;
  letter-spacing: -1px;
}
/* line 68, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header hgroup h2 {
  font-size: 0.8em;
  color: white;
  letter-spacing: 2px;
  word-spacing: 2px;
}
/* line 73, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section {
  padding: 0 3em;
  border: none;
}
/* line 76, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section ol {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 0.9em;
}
/* line 81, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  margin-right: 1em;
  padding: 0.2em 1em 0;
  color: white;
}
/* line 86, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section ol li.selected {
  background-color: #f2d9f1;
  color: black;
  -moz-border-radius-topleft: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  -o-border-top-left-radius: 0.2em;
  -ms-border-top-left-radius: 0.2em;
  -khtml-border-top-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
  -moz-border-radius-topright: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  -o-border-top-right-radius: 0.2em;
  -ms-border-top-right-radius: 0.2em;
  -khtml-border-top-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
}
/* line 91, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section:nth-child(2) {
  background-color: #9c0044;
}
/* line 93, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section:nth-child(3) {
  background-color: #f2d9f1;
  padding: 0 6em;
  font-size: 0.8em;
}
/* line 97, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers header section:nth-child(3) li {
  color: #444444;
}
/* line 99, ../../../public/stylesheets/sass/default.sass */
#menu_3_layers section {
  padding: 2em;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

/* line 39, ../../../public/stylesheets/sass/_buttons.sass */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 107, ../../../public/stylesheets/sass/default.sass */
#buttons div a, #buttons div input {
  margin: 5px 10px;
}
/* line 109, ../../../public/stylesheets/sass/default.sass */
#buttons .button {
  display: inline-block;
  padding: 0.5em 2em 0.55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 2px;
  box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 14, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .button:hover {
  text-decoration: none;
}
/* line 16, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .button:active {
  position: relative;
  top: 1px;
}
/* line 111, ../../../public/stylesheets/sass/default.sass */
#buttons .rounded {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
}
/* line 113, ../../../public/stylesheets/sass/default.sass */
#buttons .orange {
  border: solid 1px #f6860e;
  background: #f78d1d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9ad5d), color-stop(100%, #f78d1d));
  background-image: -moz-linear-gradient(#f9ad5d 0%, #f78d1d 100%);
  background-image: linear-gradient(#f9ad5d 0%, #f78d1d 100%);
  color: #fef3e8;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .orange:hover {
  background: #f28009;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9a64e), color-stop(100%, #f28009));
  background-image: -moz-linear-gradient(#f9a64e 0%, #f28009 100%);
  background-image: linear-gradient(#f9a64e 0%, #f28009 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .orange:active {
  background: #f9a64e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f78d1d), color-stop(100%, #f9a64e));
  background-image: -moz-linear-gradient(#f78d1d 0%, #f9a64e 100%);
  background-image: linear-gradient(#f78d1d 0%, #f9a64e 100%);
  color: #fcdcbb;
}
/* line 115, ../../../public/stylesheets/sass/default.sass */
#buttons .red {
  border: solid 1px #9c1115;
  background: #aa1317;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e51a1f), color-stop(100%, #aa1317));
  background-image: -moz-linear-gradient(#e51a1f 0%, #aa1317 100%);
  background-image: linear-gradient(#e51a1f 0%, #aa1317 100%);
  color: #f6e7e7;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .red:hover {
  background: #931014;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8181d), color-stop(100%, #931014));
  background-image: -moz-linear-gradient(#d8181d 0%, #931014 100%);
  background-image: linear-gradient(#d8181d 0%, #931014 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .red:active {
  background: #d8181d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa1317), color-stop(100%, #d8181d));
  background-image: -moz-linear-gradient(#aa1317 0%, #d8181d 100%);
  background-image: linear-gradient(#aa1317 0%, #d8181d 100%);
  color: #e5b8b9;
}
/* line 117, ../../../public/stylesheets/sass/default.sass */
#buttons .blue {
  border: solid 1px #006d96;
  background: #0078a5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a8e7), color-stop(100%, #0078a5));
  background-image: -moz-linear-gradient(#00a8e7 0%, #0078a5 100%);
  background-image: linear-gradient(#00a8e7 0%, #0078a5 100%);
  color: #e5f1f6;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .blue:hover {
  background: #00658b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009dd8), color-stop(100%, #00658b));
  background-image: -moz-linear-gradient(#009dd8 0%, #00658b 100%);
  background-image: linear-gradient(#009dd8 0%, #00658b 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .blue:active {
  background: #009dd8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0078a5), color-stop(100%, #009dd8));
  background-image: -moz-linear-gradient(#0078a5 0%, #009dd8 100%);
  background-image: linear-gradient(#0078a5 0%, #009dd8 100%);
  color: #b2d6e4;
}
/* line 119, ../../../public/stylesheets/sass/default.sass */
#buttons .green {
  border: solid 1px #456f0c;
  background: #4e7d0e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73b915), color-stop(100%, #4e7d0e));
  background-image: -moz-linear-gradient(#73b915 0%, #4e7d0e 100%);
  background-image: linear-gradient(#73b915 0%, #4e7d0e 100%);
  color: #edf2e6;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .green:hover {
  background: #40660b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bab13), color-stop(100%, #40660b));
  background-image: -moz-linear-gradient(#6bab13 0%, #40660b 100%);
  background-image: linear-gradient(#6bab13 0%, #40660b 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .green:active {
  background: #6bab13;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e7d0e), color-stop(100%, #6bab13));
  background-image: -moz-linear-gradient(#4e7d0e 0%, #6bab13 100%);
  background-image: linear-gradient(#4e7d0e 0%, #6bab13 100%);
  color: #c9d8b6;
}
/* line 121, ../../../public/stylesheets/sass/default.sass */
#buttons .pink {
  border: solid 1px #f063a3;
  background: #f171ab;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7adcf), color-stop(100%, #f171ab));
  background-image: -moz-linear-gradient(#f7adcf 0%, #f171ab 100%);
  background-image: linear-gradient(#f7adcf 0%, #f171ab 100%);
  color: #fdf0f6;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .pink:hover {
  background: #ef5a9d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f69fc6), color-stop(100%, #ef5a9d));
  background-image: -moz-linear-gradient(#f69fc6 0%, #ef5a9d 100%);
  background-image: linear-gradient(#f69fc6 0%, #ef5a9d 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .pink:active {
  background: #f69fc6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f171ab), color-stop(100%, #f69fc6));
  background-image: -moz-linear-gradient(#f171ab 0%, #f69fc6 100%);
  background-image: linear-gradient(#f171ab 0%, #f69fc6 100%);
  color: #fad4e5;
}
/* line 123, ../../../public/stylesheets/sass/default.sass */
#buttons .violet {
  border: solid 1px #9030c0;
  background: #9933cc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b468d9), color-stop(100%, #9933cc));
  background-image: -moz-linear-gradient(#b468d9 0%, #9933cc 100%);
  background-image: linear-gradient(#b468d9 0%, #9933cc 100%);
  color: #f4eaf9;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .violet:hover {
  background: #8a2eb8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ad5cd6), color-stop(100%, #8a2eb8));
  background-image: -moz-linear-gradient(#ad5cd6 0%, #8a2eb8 100%);
  background-image: linear-gradient(#ad5cd6 0%, #8a2eb8 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .violet:active {
  background: #ad5cd6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9933cc), color-stop(100%, #ad5cd6));
  background-image: -moz-linear-gradient(#9933cc 0%, #ad5cd6 100%);
  background-image: linear-gradient(#9933cc 0%, #ad5cd6 100%);
  color: #e0c1ef;
}
/* line 125, ../../../public/stylesheets/sass/default.sass */
#buttons .brown {
  border: solid 1px #8a2e00;
  background: #993300;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db4900), color-stop(100%, #993300));
  background-image: -moz-linear-gradient(#db4900 0%, #993300 100%);
  background-image: linear-gradient(#db4900 0%, #993300 100%);
  color: #f4eae5;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .brown:hover {
  background: #802b00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc4400), color-stop(100%, #802b00));
  background-image: -moz-linear-gradient(#cc4400 0%, #802b00 100%);
  background-image: linear-gradient(#cc4400 0%, #802b00 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .brown:active {
  background: #cc4400;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #993300), color-stop(100%, #cc4400));
  background-image: -moz-linear-gradient(#993300 0%, #cc4400 100%);
  background-image: linear-gradient(#993300 0%, #cc4400 100%);
  color: #e0c1b2;
}
/* line 127, ../../../public/stylesheets/sass/default.sass */
#buttons .dark_green {
  border: solid 1px #2b5700;
  background: #336600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #54a800), color-stop(100%, #336600));
  background-image: -moz-linear-gradient(#54a800 0%, #336600 100%);
  background-image: linear-gradient(#54a800 0%, #336600 100%);
  color: #eaefe5;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_green:hover {
  background: #264d00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d9900), color-stop(100%, #264d00));
  background-image: -moz-linear-gradient(#4d9900 0%, #264d00 100%);
  background-image: linear-gradient(#4d9900 0%, #264d00 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_green:active {
  background: #4d9900;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336600), color-stop(100%, #4d9900));
  background-image: -moz-linear-gradient(#336600 0%, #4d9900 100%);
  background-image: linear-gradient(#336600 0%, #4d9900 100%);
  color: #c1d1b2;
}
/* line 129, ../../../public/stylesheets/sass/default.sass */
#buttons .olive {
  border: solid 1px #8e8e2f;
  background: #999933;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c34b), color-stop(100%, #999933));
  background-image: -moz-linear-gradient(#c3c34b 0%, #999933 100%);
  background-image: linear-gradient(#c3c34b 0%, #999933 100%);
  color: #f4f4ea;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .olive:hover {
  background: #86862d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfbf40), color-stop(100%, #86862d));
  background-image: -moz-linear-gradient(#bfbf40 0%, #86862d 100%);
  background-image: linear-gradient(#bfbf40 0%, #86862d 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .olive:active {
  background: #bfbf40;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999933), color-stop(100%, #bfbf40));
  background-image: -moz-linear-gradient(#999933 0%, #bfbf40 100%);
  background-image: linear-gradient(#999933 0%, #bfbf40 100%);
  color: #e0e0c1;
}
/* line 131, ../../../public/stylesheets/sass/default.sass */
#buttons .dark_blue {
  border: solid 1px #1f1f7c;
  background: #222288;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f2fbd), color-stop(100%, #222288));
  background-image: -moz-linear-gradient(#2f2fbd 0%, #222288 100%);
  background-image: linear-gradient(#2f2fbd 0%, #222288 100%);
  color: #e8e8f3;
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_blue:hover {
  background: #1d1d74;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c2cb1), color-stop(100%, #1d1d74));
  background-image: -moz-linear-gradient(#2c2cb1 0%, #1d1d74 100%);
  background-image: linear-gradient(#2c2cb1 0%, #1d1d74 100%);
}
/* line 28, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_blue:active {
  background: #2c2cb1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222288), color-stop(100%, #2c2cb1));
  background-image: -moz-linear-gradient(#222288 0%, #2c2cb1 100%);
  background-image: linear-gradient(#222288 0%, #2c2cb1 100%);
  color: #bcbcdb;
}
/* line 134, ../../../public/stylesheets/sass/default.sass */
#buttons .medium {
  font-size: 12px;
  padding: 0.35em 1.5em 0.4em;
}
/* line 137, ../../../public/stylesheets/sass/default.sass */
#buttons .small {
  font-size: 10px;
  padding: 0.2em 1em 0.275em;
}

/* line 143, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input {
  margin: 5px 10px;
  display: inline-block;
  padding: 0.35em 1em 0.4em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
  border: none;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 146, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input:nth-child(1) {
  background: #56e639;
  border: 5px solid #4fd334;
  color: #eefceb;
}
/* line 21, ../../../public/stylesheets/sass/_old_school_buttons.sass */
#old_school_buttons input:nth-child(1):hover {
  text-indent: 0.1em;
}
/* line 148, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input:nth-child(2) {
  background: #f56bff;
  border: 5px solid #e162ea;
  color: #fef0ff;
}
/* line 21, ../../../public/stylesheets/sass/_old_school_buttons.sass */
#old_school_buttons input:nth-child(2):hover {
  text-indent: 0.1em;
}
/* line 150, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input:nth-child(3) {
  background: #8ea326;
  border: 5px solid #829522;
  color: #f3f5e9;
}
/* line 21, ../../../public/stylesheets/sass/_old_school_buttons.sass */
#old_school_buttons input:nth-child(3):hover {
  text-indent: 0.1em;
}
/* line 152, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input:nth-child(4) {
  background: #ffc919;
  border: 5px solid #eab817;
  color: #fff9e8;
}
/* line 21, ../../../public/stylesheets/sass/_old_school_buttons.sass */
#old_school_buttons input:nth-child(4):hover {
  text-indent: 0.1em;
}
/* line 154, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input:nth-child(5) {
  background: #12b8ff;
  border: 5px solid #10a9ea;
  color: #e7f7ff;
}
/* line 21, ../../../public/stylesheets/sass/_old_school_buttons.sass */
#old_school_buttons input:nth-child(5):hover {
  text-indent: 0.1em;
}
/* line 156, ../../../public/stylesheets/sass/default.sass */
#old_school_buttons input:nth-child(6) {
  background: #ff7377;
  border: 5px solid #ea696d;
  color: #fff1f1;
}
/* line 21, ../../../public/stylesheets/sass/_old_school_buttons.sass */
#old_school_buttons input:nth-child(6):hover {
  text-indent: 0.1em;
}

/* line 160, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
  padding: 50px 100px 300px;
  background-color: black;
}
/* line 61, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li:first-child, #classy_menu ol li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li.last {
  padding-right: 0;
}
/* line 165, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li {
  width: 150px;
  height: 100px;
  line-height: 170px;
  padding: 0 10px;
  background-color: black;
  background-color: #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(#000000 0%, #000000 50%, #555555 100%);
  background-image: linear-gradient(#000000 0%, #000000 50%, #555555 100%);
  border-right: 1px solid #222222;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  letter-spacing: 0.5px;
  color: #999999;
}
/* line 178, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li:first-of-type {
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -o-border-bottom-left-radius: 7px;
  -ms-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 15px;
}
/* line 181, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li:last-of-type {
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  -ms-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-right: 0;
}
/* line 184, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li.selected, #classy_menu ol li:hover {
  background-color: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(100%, #777777));
  background-image: -moz-linear-gradient(#000000 0%, #000000 50%, #777777 100%);
  background-image: linear-gradient(#000000 0%, #000000 50%, #777777 100%);
  color: white;
}

/* line 190, ../../../public/stylesheets/sass/default.sass */
#cards ol {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
  padding: 50px;
  background-color: #e3e3e0;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
/* line 61, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#cards ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#cards ol li:first-child, #cards ol li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#cards ol li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#cards ol li.last {
  padding-right: 0;
}
/* line 197, ../../../public/stylesheets/sass/default.sass */
#cards ol li {
  width: 200px;
  height: 270px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1), 1px, 1px, 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1), 1px, 1px, 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.1), 1px, 1px, 2px;
  box-shadow: rgba(0, 0, 0, 0.1), 1px, 1px, 2px;
  margin-right: 25px;
  background-color: white;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
}
/* line 205, ../../../public/stylesheets/sass/default.sass */
#cards ol li:last-of-type {
  margin-right: 0;
}
/* line 207, ../../../public/stylesheets/sass/default.sass */
#cards ol li:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  background-color: white;
}

/* line 211, ../../../public/stylesheets/sass/default.sass */
#popup {
  background-color: #777777;
  padding: 30px;
}
/* line 214, ../../../public/stylesheets/sass/default.sass */
#popup div {
  display: inline-block;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}
/* line 217, ../../../public/stylesheets/sass/default.sass */
#popup .wrapper {
  -moz-box-shadow: rgba(0, 0, 0, 0.3), 0, 1px, 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3), 0, 1px, 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3), 0, 1px, 2px;
  box-shadow: rgba(0, 0, 0, 0.3), 0, 1px, 2px;
}
/* line 219, ../../../public/stylesheets/sass/default.sass */
#popup .wrapper div {
  width: 600px;
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(45px, #dddddd), color-stop(46px, #333333), color-stop(46px, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#dddddd 0%, #dddddd 45px, #333333 46px, #ffffff 46px, #ffffff 100%);
  background-image: linear-gradient(#dddddd 0%, #dddddd 45px, #333333 46px, #ffffff 46px, #ffffff 100%);
}
/* line 226, ../../../public/stylesheets/sass/default.sass */
#popup .wrapper div h1 {
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -khtml-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -khtml-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  padding: 15px;
  color: #666699;
}
/* line 231, ../../../public/stylesheets/sass/default.sass */
#popup .wrapper div p {
  margin: 0;
  padding: 15px;
  height: 250px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -khtml-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 237, ../../../public/stylesheets/sass/default.sass */
#fancy_footer {
  background-color: #ddd5c7;
  padding: 50px 30px;
}
/* line 241, ../../../public/stylesheets/sass/default.sass */
#fancy_footer .content, #fancy_footer footer, #fancy_footer section {
  margin: 0 auto;
}
/* line 243, ../../../public/stylesheets/sass/default.sass */
#fancy_footer .content {
  width: 600px;
  min-height: 100px;
  padding: 30px 40px 0;
  background-color: white;
  border: 1px solid #777777;
  border-top: 0;
}
/* line 250, ../../../public/stylesheets/sass/default.sass */
#fancy_footer footer {
  width: 520px;
  margin-top: 60px;
  position: relative;
  top: 10px;
  border: 1px solid #aaaaaa;
  text-align: left;
  padding: 30px;
  background-color: #e3dcd1;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #f6f4f1), color-stop(100%, #e3dcd1));
  background-image: -moz-radial-gradient(top center, #f6f4f1 0%, #e3dcd1 100%);
  background-image: radial-gradient(top center, #f6f4f1 0%, #e3dcd1 100%);
}
/* line 260, ../../../public/stylesheets/sass/default.sass */
#fancy_footer footer section {
  width: 496px;
  height: 80px;
  position: relative;
  top: 33px;
  left: -29px;
  padding: 20px 50px;
  min-height: 0;
  margin-top: 70px;
  margin-left: -10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 2px groove #777777;
  color: white;
  background-color: #3a9cbf;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, color-stop(0%, #3a9cbf), color-stop(100%, #256279));
  background-image: -moz-radial-gradient(#3a9cbf 0%, #256279 300px);
  background-image: radial-gradient(#3a9cbf 0%, #256279 300px);
  -moz-box-shadow: 0 0 70px rgba(0, 0, 0, 0.5) inset;
}
