@charset "UTF-8";
/* line 108, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 5, ../../../public/stylesheets/sass/default.sass */
body {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 10, ../../../public/stylesheets/sass/default.sass */
body, input {
  font: 14px/140% Arial, Helvetica, sans-serif;
}

/* line 13, ../../../public/stylesheets/sass/default.sass */
footer {
  display: block;
  margin-top: 40px;
  padding: 10px 0 20px;
  text-align: center;
  border-top: 1px solid #cccccc;
  font-size: 0.8em;
  color: #777777;
}
/* line 21, ../../../public/stylesheets/sass/default.sass */
footer p {
  margin-left: 80px;
  display: inline;
}
/* line 24, ../../../public/stylesheets/sass/default.sass */
footer p:first-of-type {
  margin-left: 0;
}

/* line 27, ../../../public/stylesheets/sass/default.sass */
h1 {
  color: #555555;
  margin: 30px 0 40px;
  font-size: 2em;
}
/* line 31, ../../../public/stylesheets/sass/default.sass */
section h1 {
  color: #777777;
  margin: 20px 0;
  font-size: 1.5em;
}

/* line 36, ../../../public/stylesheets/sass/default.sass */
p {
  margin: 1em 0;
}

@charset "UTF-8";
/* line 35, ../../../public/stylesheets/sass/_buttons.sass */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 42, ../../../public/stylesheets/sass/default.sass */
#buttons div a, #buttons div input {
  margin: 5px 10px;
}
/* line 44, ../../../public/stylesheets/sass/default.sass */
#buttons .button {
  display: inline-block;
  padding: 0.5em 2em 0.55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 1px 5px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 13, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .button:hover {
  text-decoration: none;
}
/* line 15, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .button:active {
  position: relative;
  top: 1px;
}
/* line 46, ../../../public/stylesheets/sass/default.sass */
#buttons .rounded {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
}
/* line 48, ../../../public/stylesheets/sass/default.sass */
#buttons .orange {
  border: solid 1px #f6860e;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f9ad5d), color-stop(100%, #f78d1d));
  background-image: -moz-linear-gradient(top, #f9ad5d 0%, #f78d1d 100%);
  background-image: linear-gradient(top, #f9ad5d 0%, #f78d1d 100%);
  color: #fef3e8;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .orange:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f9a64e), color-stop(100%, #f28009));
  background-image: -moz-linear-gradient(top, #f9a64e 0%, #f28009 100%);
  background-image: linear-gradient(top, #f9a64e 0%, #f28009 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .orange:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f78d1d), color-stop(100%, #f9a64e));
  background-image: -moz-linear-gradient(top, #f78d1d 0%, #f9a64e 100%);
  background-image: linear-gradient(top, #f78d1d 0%, #f9a64e 100%);
  color: #fcdcbb;
}
/* line 50, ../../../public/stylesheets/sass/default.sass */
#buttons .red {
  border: solid 1px #9c1115;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e51a1f), color-stop(100%, #aa1317));
  background-image: -moz-linear-gradient(top, #e51a1f 0%, #aa1317 100%);
  background-image: linear-gradient(top, #e51a1f 0%, #aa1317 100%);
  color: #f6e7e7;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .red:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d8181d), color-stop(100%, #931014));
  background-image: -moz-linear-gradient(top, #d8181d 0%, #931014 100%);
  background-image: linear-gradient(top, #d8181d 0%, #931014 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .red:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #aa1317), color-stop(100%, #d8181d));
  background-image: -moz-linear-gradient(top, #aa1317 0%, #d8181d 100%);
  background-image: linear-gradient(top, #aa1317 0%, #d8181d 100%);
  color: #e5b8b9;
}
/* line 52, ../../../public/stylesheets/sass/default.sass */
#buttons .blue {
  border: solid 1px #006d96;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00a8e7), color-stop(100%, #0078a5));
  background-image: -moz-linear-gradient(top, #00a8e7 0%, #0078a5 100%);
  background-image: linear-gradient(top, #00a8e7 0%, #0078a5 100%);
  color: #e5f1f6;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .blue:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #009dd8), color-stop(100%, #00658b));
  background-image: -moz-linear-gradient(top, #009dd8 0%, #00658b 100%);
  background-image: linear-gradient(top, #009dd8 0%, #00658b 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .blue:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0078a5), color-stop(100%, #009dd8));
  background-image: -moz-linear-gradient(top, #0078a5 0%, #009dd8 100%);
  background-image: linear-gradient(top, #0078a5 0%, #009dd8 100%);
  color: #b2d6e4;
}
/* line 54, ../../../public/stylesheets/sass/default.sass */
#buttons .green {
  border: solid 1px #456f0c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #73b915), color-stop(100%, #4e7d0e));
  background-image: -moz-linear-gradient(top, #73b915 0%, #4e7d0e 100%);
  background-image: linear-gradient(top, #73b915 0%, #4e7d0e 100%);
  color: #edf2e6;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .green:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6bab13), color-stop(100%, #40660b));
  background-image: -moz-linear-gradient(top, #6bab13 0%, #40660b 100%);
  background-image: linear-gradient(top, #6bab13 0%, #40660b 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .green:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4e7d0e), color-stop(100%, #6bab13));
  background-image: -moz-linear-gradient(top, #4e7d0e 0%, #6bab13 100%);
  background-image: linear-gradient(top, #4e7d0e 0%, #6bab13 100%);
  color: #c9d8b6;
}
/* line 56, ../../../public/stylesheets/sass/default.sass */
#buttons .pink {
  border: solid 1px #f063a3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f7adcf), color-stop(100%, #f171ab));
  background-image: -moz-linear-gradient(top, #f7adcf 0%, #f171ab 100%);
  background-image: linear-gradient(top, #f7adcf 0%, #f171ab 100%);
  color: #fdf0f6;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .pink:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f69fc6), color-stop(100%, #ef5a9d));
  background-image: -moz-linear-gradient(top, #f69fc6 0%, #ef5a9d 100%);
  background-image: linear-gradient(top, #f69fc6 0%, #ef5a9d 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .pink:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f171ab), color-stop(100%, #f69fc6));
  background-image: -moz-linear-gradient(top, #f171ab 0%, #f69fc6 100%);
  background-image: linear-gradient(top, #f171ab 0%, #f69fc6 100%);
  color: #fad4e5;
}
/* line 58, ../../../public/stylesheets/sass/default.sass */
#buttons .violet {
  border: solid 1px #9030c0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b468d9), color-stop(100%, #9933cc));
  background-image: -moz-linear-gradient(top, #b468d9 0%, #9933cc 100%);
  background-image: linear-gradient(top, #b468d9 0%, #9933cc 100%);
  color: #f4eaf9;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .violet:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ad5cd6), color-stop(100%, #8a2eb8));
  background-image: -moz-linear-gradient(top, #ad5cd6 0%, #8a2eb8 100%);
  background-image: linear-gradient(top, #ad5cd6 0%, #8a2eb8 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .violet:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9933cc), color-stop(100%, #ad5cd6));
  background-image: -moz-linear-gradient(top, #9933cc 0%, #ad5cd6 100%);
  background-image: linear-gradient(top, #9933cc 0%, #ad5cd6 100%);
  color: #e0c1ef;
}
/* line 60, ../../../public/stylesheets/sass/default.sass */
#buttons .brown {
  border: solid 1px #8a2e00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #db4900), color-stop(100%, #993300));
  background-image: -moz-linear-gradient(top, #db4900 0%, #993300 100%);
  background-image: linear-gradient(top, #db4900 0%, #993300 100%);
  color: #f4eae5;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .brown:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cc4400), color-stop(100%, #802b00));
  background-image: -moz-linear-gradient(top, #cc4400 0%, #802b00 100%);
  background-image: linear-gradient(top, #cc4400 0%, #802b00 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .brown:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #993300), color-stop(100%, #cc4400));
  background-image: -moz-linear-gradient(top, #993300 0%, #cc4400 100%);
  background-image: linear-gradient(top, #993300 0%, #cc4400 100%);
  color: #e0c1b2;
}
/* line 62, ../../../public/stylesheets/sass/default.sass */
#buttons .dark_green {
  border: solid 1px #2b5700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #54a800), color-stop(100%, #336600));
  background-image: -moz-linear-gradient(top, #54a800 0%, #336600 100%);
  background-image: linear-gradient(top, #54a800 0%, #336600 100%);
  color: #eaefe5;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_green:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4d9900), color-stop(100%, #264d00));
  background-image: -moz-linear-gradient(top, #4d9900 0%, #264d00 100%);
  background-image: linear-gradient(top, #4d9900 0%, #264d00 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_green:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #336600), color-stop(100%, #4d9900));
  background-image: -moz-linear-gradient(top, #336600 0%, #4d9900 100%);
  background-image: linear-gradient(top, #336600 0%, #4d9900 100%);
  color: #c1d1b2;
}
/* line 64, ../../../public/stylesheets/sass/default.sass */
#buttons .olive {
  border: solid 1px #8e8e2f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c3c34b), color-stop(100%, #999933));
  background-image: -moz-linear-gradient(top, #c3c34b 0%, #999933 100%);
  background-image: linear-gradient(top, #c3c34b 0%, #999933 100%);
  color: #f4f4ea;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .olive:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bfbf40), color-stop(100%, #86862d));
  background-image: -moz-linear-gradient(top, #bfbf40 0%, #86862d 100%);
  background-image: linear-gradient(top, #bfbf40 0%, #86862d 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .olive:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #999933), color-stop(100%, #bfbf40));
  background-image: -moz-linear-gradient(top, #999933 0%, #bfbf40 100%);
  background-image: linear-gradient(top, #999933 0%, #bfbf40 100%);
  color: #e0e0c1;
}
/* line 66, ../../../public/stylesheets/sass/default.sass */
#buttons .dark_blue {
  border: solid 1px #1f1f7c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2f2fbd), color-stop(100%, #222288));
  background-image: -moz-linear-gradient(top, #2f2fbd 0%, #222288 100%);
  background-image: linear-gradient(top, #2f2fbd 0%, #222288 100%);
  color: #e8e8f3;
}
/* line 23, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_blue:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2c2cb1), color-stop(100%, #1d1d74));
  background-image: -moz-linear-gradient(top, #2c2cb1 0%, #1d1d74 100%);
  background-image: linear-gradient(top, #2c2cb1 0%, #1d1d74 100%);
}
/* line 25, ../../../public/stylesheets/sass/_buttons.sass */
#buttons .dark_blue:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #222288), color-stop(100%, #2c2cb1));
  background-image: -moz-linear-gradient(top, #222288 0%, #2c2cb1 100%);
  background-image: linear-gradient(top, #222288 0%, #2c2cb1 100%);
  color: #bcbcdb;
}
/* line 69, ../../../public/stylesheets/sass/default.sass */
#buttons .medium {
  font-size: 12px;
  padding: 0.35em 1.5em 0.4em;
}
/* line 72, ../../../public/stylesheets/sass/default.sass */
#buttons .small {
  font-size: 10px;
  padding: 0.2em 1em 0.275em;
}

/* line 77, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
  padding: 50px;
  background-color: black;
}
/* line 57, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li:first-child, #classy_menu ol li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#classy_menu ol li:last-child, #classy_menu ol li.last {
  padding-right: 0;
}
/* line 82, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li {
  width: 150px;
  height: 100px;
  line-height: 170px;
  padding: 0 10px;
  background-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(top, #000000 0%, #000000 50%, #555555 100%);
  background-image: linear-gradient(top, #000000 0%, #000000 50%, #555555 100%);
  border-right: 1px solid #222222;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  letter-spacing: 0.5px;
  color: #bbbbbb;
}
/* line 94, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li:first-of-type {
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -o-border-bottom-left-radius: 7px;
  -ms-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 15px;
}
/* line 97, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li:last-of-type {
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  -ms-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-right: 0;
}
/* line 100, ../../../public/stylesheets/sass/default.sass */
#classy_menu ol li.selected, #classy_menu ol li:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(100%, #777777));
  background-image: -moz-linear-gradient(top, #000000 0%, #000000 50%, #777777 100%);
  background-image: linear-gradient(top, #000000 0%, #000000 50%, #777777 100%);
  color: white;
}
